@using (Html.BeginForm("FileUpload", "Account", FormMethod.Post,
                                        new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload image:</label>
    <input type="file" name="file" id="file" style="width: 100%;" />
    <input type="submit" value="Upload" class="submit" />
}
