@model IBetApp.Models.HomePageViewModel

@{
    ViewBag.Title = "Main page";
}

<div class="col-md-7">
    @Html.Partial("_newBetsPartialView", Model.Bets)
</div>
<div class="col-md-1"></div>
<div class="col-md-4">
    @Html.Partial("_topUsersPartialView", Model.Users)
</div>

